@import url(common.css);

h1{
    color: var(--my-color);
}

form{
    margin-top: 4em;
}

p{
    font-family: Forum, 'Times New Roman', Times, serif;
}

label{
    font-size: 1.2em;
}

input, button{
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 1px solid var(--my-color);
}

input:focus, input:active {
    outline: 0;
    border: 2px solid var(--my-color) !important;
}

button{
    margin-top: 10px;
    background-color: var(--my-color);
    border: none;
    cursor: pointer;
    color: white;
}

.main{
    margin: 2rem;
    border: 1px solid var(--my-color);
    padding: 3rem;
    text-align: center;
}