@import url(common.css);

h1{
    color: var(--my-color);
}

form{
    margin-top: 4em;
}

li{
    list-style-type: none;
    width: 45%;
    height: 100%;
    margin: auto;
}

li a{
    height: 100%;
    width: 100%;
    display: inline-block;
}

label{
    font-size: 1.2em;
}

input, button{
    border-radius: 0.5rem;
    padding: 0.5rem;

}

button{
    margin-top: 10px;
    margin-left: 10px;
    background-color: var(--my-color);
    border: none;
    cursor: pointer;
}

.main{
    margin: 2rem;
    border: 1px solid var(--my-color);
    padding: 3rem;
    text-align: center;
}